/*title styling*/

.Contact_us h5 {
    margin-top: -20px;
    text-align: center;
    color: white;
    font-size: 35px;
    line-height: 10px;
    margin-left: 28px;
    ;
}


/*border ely ta7t title contact us styling*/

.border-1 {
    width: 168px;
    height: 7px;
    background: #c0a756;
    margin: 40px auto;
    margin-right: 661px;
    margin-top: 31px;
}


/*footer div styling styling html kolo*/

.Contact_us {
    width: 100%;
    margin: auto;
    padding: 23 15px;
    overflow: hidden;
    font-family: "montserrat", sans-serif;
    background-image: url("../pictures/9.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 640px;
    text-align: center;
    margin: 0 auto;
}

.contact-us-form-text {
    display: block;
    width: 63%;
    box-sizing: border-box;
    margin: auto;
    margin-right: 272px;
    border: 0;
    background-color: rgb(8, 8, 8);
    padding: 22px 40px;
    outline: none;
    color: #c0a756;
    transition: 0.5s;
    text-align: center;
}

.contact-us-form-text:focus {
    box-shadow: 0 0 10px 4px #D4AF37;
}

textarea .contact-us-form-text {
    resize: none;
    height: 120px;
}

.contact-us-form-btn {
    float: none;
    border: 0;
    background: #c0a756;
    color: #fff;
    padding: 10px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 32px;
    margin-top: 0px;
}

.contact-us-form-btn:hover {
    background: #FDD400;
}

h3 {
    color: rgb(180, 0, 0);
    font-weight: 200;
    text-align: center;
}

input[type="text"]:focus {
    box-shadow: 5px rgba(152, 127, 19, 0.87);
    border: 3px solid rgba(152, 127, 19, 0.87);
}


/* ============== error and redirecting messages ============== */

.erroRS p {
    color: red;
    font-family: tahoma;
    margin-top: 3px;
    margin-bottom: 40px;
    font-size: 12px
}


/*  Error Messages */

.input_errors {
    box-shadow: 0 0 5px #F9806E;
    border-color: #f8583f;
}

.table1 {
    /* background-color: #ffe6d3;*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 2400px;
    display: inline-block;
    overflow: hidden;
    height: 451px;
    margin-top: 96px;
    overflow: inherit;
    z-index: 100;
}

.tab-1 {
    width: 400px;
    margin-left: 535px;
}

.days {
    font-family: "Yellowtail", serif;
    font-style: italic, Bold;
    font-size: 30px;
    color: #c0a756;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: -122px;
}

.hours {
    font-family: "Oswald", sans-serif;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    padding-left: 46px;
    list-style: none;
    display: inline;
    margin-left: 42px;
}

.hours:not(:first-child) {
    margin-right: 71px;
}

.h3 {
    text-align: left;
    color: rgb(12, 0, 6);
    vertical-align: top;
    font-family: "Oswald", sans-serif;
    font-size: 39px;
    font-weight: 700;
    line-height: 10px;
    margin-left: 73px;
    margin-top: -990px;
}

.h4 {
    font-family: "Yellowtail", serif;
    font-style: italic, Bold;
    font-size: 25px;
    color: #c0a756;
    text-align: center;
    margin-left: -135px;
}

.h6 {
    font-family: "Yellowtail", serif;
    font-style: italic, Bold;
    font-size: 25px;
    color: #c0a756;
    text-align: center;
    margin-left: -261px;
}

.t1 {
    font-family: "Cabin", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #777777;
    margin-bottom: 40px;
    line-height: 32px;
    margin-left: 0px;
    text-align: justify;
    margin-right: 100px;
    margin-left: 800px;
    margin-top: -510px;
}

.t2 {
    font-family: "Yellowtail", serif;
    font-style: italic, Bold;
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    line-height: 1px;
    margin-left: 55px;
}

.t5 {
    font-family: "Yellowtail", serif;
    font-style: italic, Bold;
    font-size: 22px;
    color: rgb(0, 0, 0);
    text-align: left;
    line-height: 4px;
    text-align: center;
    margin-left: 21px;
}

.timings1 {
    margin-right: 1071px;
}

.address {
    margin-right: 1071px;
}

.email {
    margin-right: 1138px;
}