.u-section-1 .u-sheet-1 {
    min-height: 994px;
}

.u-section-1 .u-text-1 {
    text-align: start;
    margin: 42px auto 0 73px;
}

.u-section-1 .u-btn-1 {
    background-image: none;
    font-size: 1.5rem;
    padding: 0;
}

.u-section-1 .u-icon-1 {
    width: 39px;
    height: 39px;
    margin: -39px auto 0 24px;
}

.u-section-1 .u-group-1 {
    width: 273px;
    min-height: 255px;
    height: auto;
    margin: 67px 392px 0 auto;
}

.u-section-1 .u-container-layout-1 {
    padding: 0 10px 18px;
}

.u-section-1 .u-icon-2 {
    width: 113px;
    height: 113px;
    margin: 22px auto 0 40px;
}

.u-section-1 .u-group-2 {
    min-height: 102px;
    width: 198px;
    margin: 0 auto;
}

.u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin: 21px auto 0;
}

.u-section-1 .u-group-3 {
    width: 280px;
    min-height: 250px;
    height: auto;
    margin: -250px 864px 0px auto;
}

.u-section-1 .u-container-layout-3 {
    padding: 0 10px 18px;
}

.u-section-1 .u-icon-3 {
    width: 113px;
    height: 113px;
    margin: 22px auto 0 40px;
}

.u-section-1 .u-group-4 {
    min-height: 102px;
    width: 198px;
    margin: 0 auto;
}

.u-section-1 .u-text-3 {
    margin: 21px auto 0;
}

.u-section-1 .u-group-5 {
    width: 219px;
    min-height: 255px;
    height: auto;
    margin: -255px 376px 0 auto;
}

.u-section-1 .u-container-layout-5 {
    padding: 0 10px 18px;
}

.u-section-1 .u-icon-4 {
    width: 113px;
    height: 113px;
    margin: 22px auto 0 40px;
}

.u-section-1 .u-group-6 {
    min-height: 102px;
    width: 198px;
    margin: 0 auto;
}

.u-section-1 .u-text-4 {
    margin: 21px auto 0;
}

.u-section-1 .u-group-7 {
    width: 219px;
    min-height: 255px;
    height: auto;
    margin: -250px auto 0 537px;
}

.u-section-1 .u-container-layout-7 {
    padding: 0 10px 18px;
}

.u-section-1 .u-icon-5 {
    width: 113px;
    height: 113px;
    margin: 22px auto 0 40px;
}

.u-section-1 .u-group-8 {
    min-height: 102px;
    width: 198px;
    margin: 0 auto;
}

.u-section-1 .u-text-5 {
    margin: 21px auto 0;
}

.u-section-1 .u-group-9 {
    width: 219px;
    min-height: 255px;
    height: auto;
    margin: 91px -447px 0 auto;
}

.u-section-1 .u-container-layout-9 {
    padding: 0 10px 18px;
}

.u-section-1 .u-icon-6 {
    width: 113px;
    height: 113px;
    margin: 22px auto 0 40px;
}

.u-section-1 .u-group-10 {
    min-height: 102px;
    width: 198px;
    margin: 0 auto;
}

.u-section-1 .u-text-6 {
    margin: 21px auto 0;
}

.u-section-1 .u-group-11 {
    width: 219px;
    min-height: 255px;
    height: auto;
    margin: -244px auto 0 138px;
}

.u-section-1 .u-container-layout-11 {
    padding: 0 10px 18px;
}

.u-section-1 .u-icon-7 {
    width: 113px;
    height: 113px;
    margin: 22px auto 0 40px;
}

.u-section-1 .u-group-12 {
    min-height: 102px;
    width: 198px;
    margin: 0 auto;
}

.u-section-1 .u-text-7 {
    margin: 21px auto 0;
}

.u-section-1 .u-group-13 {
    width: 219px;
    min-height: 255px;
    height: auto;
    margin: -255px auto 0 537px;
}

.u-section-1 .u-container-layout-13 {
    padding: 0 10px 18px;
}

.u-section-1 .u-icon-8 {
    width: 113px;
    height: 113px;
    margin: 22px auto 0 40px;
}

.u-section-1 .u-group-14 {
    min-height: 102px;
    width: 198px;
    margin: 0 auto;
}

.u-section-1 .u-text-8 {
    margin: 21px auto 0;
}

.u-section-1 .u-group-15 {
    width: 219px;
    min-height: 255px;
    height: auto;
    margin: -255px 368px 0 auto;
}

.u-section-1 .u-container-layout-15 {
    padding: 0 10px 18px;
}

.u-section-1 .u-icon-9 {
    width: 113px;
    height: 113px;
    margin: 22px auto 0 40px;
}

.u-section-1 .u-group-16 {
    min-height: 102px;
    width: 198px;
    margin: 0 auto;
}

.u-section-1 .u-text-9 {
    font-size: 1.5rem;
    margin: 21px auto 0;
}

.u-section-1 .u-group-17 {
    width: 219px;
    min-height: 255px;
    height: auto;
    margin: -255px 34px 60px auto;
}

.u-section-1 .u-container-layout-17 {
    padding: 0 10px 18px;
}

.u-section-1 .u-icon-10 {
    width: 113px;
    height: 113px;
    margin: 22px auto 0 40px;
}

.u-section-1 .u-group-18 {
    min-height: 102px;
    width: 198px;
    margin: 0 auto;
}

.u-section-1 .u-text-10 {
    margin: 21px auto 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
        height: auto;
    }
    .u-section-1 .u-group-3 {
        height: auto;
    }
    .u-section-1 .u-group-5 {
        height: auto;
    }
    .u-section-1 .u-group-7 {
        height: auto;
    }
    .u-section-1 .u-group-9 {
        height: auto;
    }
    .u-section-1 .u-group-11 {
        height: auto;
    }
    .u-section-1 .u-group-13 {
        height: auto;
    }
    .u-section-1 .u-group-15 {
        height: auto;
    }
    .u-section-1 .u-group-17 {
        height: auto;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-text-2 {
        font-size: 1.5rem;
    }
    .u-section-1 .u-group-5 {
        margin-right: 121px;
    }
    .u-section-1 .u-group-7 {
        margin-left: 121px;
    }
    .u-section-1 .u-group-13 {
        margin-left: 121px;
    }
    .u-section-1 .u-group-15 {
        margin-right: 121px;
    }
}