<div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">Contact us</h3>


  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <!--<img src="/w3images/map.jpg" class="w3-image w3-round" style="width:100%"> -->
      <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Cairo, Egypt<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +02 01145047129<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: CORRECTA@gmail.com<br>
      </div>
      <p>If you have any proposals , need to know anything clearly ,or to add any courses please don't hesistate to contact us.</p>
      <form action="/sendemail"  method="POST">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">

          <div class="w3-half">
            <input class="w3-input w3-border" type="text" name="name" value=""required placeholder="Enter your name..">
            <div class="input_errors"> <p>  </p>  </div>
            <input type="hidden" name="name" >
          </div>
          
          <div class="w3-half">
            <input class="w3-input w3-border" type="email" name="email" required placeholder="Enter your email..">
            <div class="input_errors"> <p>  </p>  </div>
            <input type="hidden" name="email">
          </div>
        </div>
        <input class="w3-input w3-border" type="text" name="message" required placeholder="Enter the message..">
        <div class="input_errors"> <p>  </p>  </div>
        <input type="hidden" name="message">
        <button class="w3-button w3-black w3-right w3-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form>
    </div>
  </div>
</div>