<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/navbar.css">
</head>
<body>

<div class="topnav">
  <a><strong style="color: white;">CORRECTA</strong></a>
  <a href="/" class="w3-bar-item w3-button"><i class="fa fa-home "></i>Home</a>
  <a href="#contact.php" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> Contact</a>
  <a href="/signup" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> Join us</a>
  <a href="/signin" class="w3-bar-item w3-button w3-hide-small">Sign in</a>
  <a href="/signup" class="w3-bar-item w3-button w3-hide-small">Sign up</a>
</div>
{% block content %}{% endblock %}
</body>
</html>
