{% include 'includes/admin-navbar.html' %}

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/admin.css">
</head>
<table>
    <h3> Courses</h3>
    <thead>
        <tr>
            <td>ID</td>
            <td>Courses Name</td>
            <td>Description</td>
            <td>Faculty ID </td>


        </tr>
    </thead>

    <tbody>

        <tr>
            <td>

            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>

        </tr>