{% include 'includes/admin-navbar.html' %} {% extends 'layouts/userLayout.html' %} {% block title %}Admin Profile{% endblock %} {% block content %}

<head>
    <meta charset="UTF-8">
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <link rel="stylesheet" href="static/css//admin.css">
    <link rel="stylesheet" href="static/css/profile_admin.css">

    <!-- Boxicons CDN Link -->
    <!-- dah logo <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="profile">Profile</span>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Search...">
                <i class='bx bx-search'></i>
            </div>
            <div class="profile-details">
                <!--<img src="images/profile.jpg" alt="">-->
                <span class="admin_name"> Ahmed Ali</span>
                <i class='bx bx-chevron-down'></i>
            </div>
        </nav>

        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Number of Instructors</div>
                        <div class="number">22 Instructor</div>

                    </div>
                    <i class='bx bx-cart-alt cart'></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Number of Students</div>
                        <div class="number">75 Student</div>

                    </div>
                    <i class='bx bxs-cart-add cart two'></i>
                </div>
                <!-- <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Number of Questions</div>
                        <div class="number">+100</div>
                    </div>
                    <i class='bx bx-cart cart three'></i>
                </div> -->
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Major/ Faculty</div>
                        <div class="number">4</div>
                        <i class='bx bxs-cart-download cart four'></i>
                    </div>
                </div>

                <div class="container">
                    <div class="row align-items-center flex-row-reverse">
                        <div class="col-lg-6">
                            <div class="about-text go-to">
                                <h3 class="dark-color">About Me</h3>
                                <div class="row about-list">
                                    <div class="col-md-6">
                                        <div class="media">
                                            <label>Full Name</label>
                                            <p>Ahmed Ali</p>
                                        </div>
                                        <div class="media">
                                            <label>Email</label>
                                            <p>Ahmed@gmail.com</p>
                                        </div>
                                        <div class="media">
                                            <label>Birthdate</label>
                                            <p>4th April 1998</p>
                                        </div>
                                        <div class="media">
                                            <label>Address</label>
                                            <p>Cairo,Egypt</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="media">
                                            <label>Phone</label>
                                            <p>01120045884</p>
                                        </div>
                                        <!-- <div class="media">
                                            <label>Password</label>
                                            <p>123456</p>
                                        </div> -->
                                        <div class="media">
                                            <label>Gender</label>
                                            <p>Male</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="">
                            </div>
                        </div>
                    </div>

    </section>

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function() {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
    </script>

</body>




{% endblock %}