{% include 'includes/instructor-navbar.html' %}

{% extends 'layouts/userLayout.html' %}
{% block title %}Question Bank{% endblock %}

{% block content %}
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/questionbank.css') }}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
        <div class="register">
            <form action="{{url_for('submit_question_bank')}}" method="POST">
                <input type="text" placeholder="Write the question here" name="question" required>
                <input type="text" placeholder="Write the model answer here" name="answer" required>
                <input type="submit" value="Add Questions">
            </form>
        </div>
        
         
    </div>
        </body>
 
{% endblock %}