{% include 'includes/default-navbar.html' %}

{% extends 'layouts/userLayout.html' %}
{% block title %}Signin{% endblock %}

{% block content %}
<head>
	<link rel="stylesheet" href="static/css/login_styles.css"> <!-- hena by linked styling bt3 sign up -->
	<link rel="stylesheet" href="static/css/test2.css">	
</head>
<body>
		<h2>Login Page</h2>
		<div class="container" id="container">
		<div class="form-container sign-up-container">
				<form action="#" method="POST">
					<h1>Create Account</h1>
					<div class="social-container">
						<a href="#" class="social"><i class="fa fa-github"></i></a>
						<a href="#" class="social"><i class="bi bi-google"></i></a>
						<a href="#" class="social"><i class="fa fa-linkedin-in"></i></a>
					</div>
					<span>or use your email for registration</span>
					<input type="text" placeholder="Name" />
					<input type="email"name="email" placeholder="Email" />
					<input type="password" name="password"placeholder="Password" />
					<input type="submit" name="submit"value="Sign Up">
				</form>
		</div>
		<div class="form-container sign-in-container">
			<form action="/signin" method="post">
				<h1>Sign in</h1>
				<div class="social-container">
				<a href="#"><i class="fa fa-linkedin-square"></i>
				<a href="#"><i class="fa fa-github"></i>
				<a href="#"><i class="fab fa-google-plus-g"></i>
				
				</div>
				<span>or use your account</span><br>
				
				{%if msg != '' %}
					<div class="alert alert-danger">{{ msg }}</div>
				{% endif %}

				<input class="styles" type="email" name="email" placeholder="Enter your email.." required>
				
				<input class="styles" type="password" name="password" placeholder="Enter your password.." required>
		
				<a href="#">Forgot your password?</a>
				<input type="submit" name="submit"value="Sign In">
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>To keep connected with us please login with your personal info</p>
					<button class="ghost" id="signIn">Sign In</button>
				</div>
		
				<div class="overlay-panel overlay-right">
					<h1>Hello,</h1>
					<p>Enter your personal details and start journey with us</p>
				<a class="ghost" href="/signup">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
		
</body>
{% endblock %}