<html>
<form name =" passdata"class="w-full px-8" method="POST" action=".">
  
    <div class="py-2 my-2 px-4 bg-gray-200 rounded-md hover:bg-gray-300">
        <p class="text-xl">
            
        </p>
        <input type="hidden" name="question" value="">
        <textarea name="answer" id="" cols="30" rows="10"></textarea>
    </div>

   
    <button name="submit" class="py-2 px-8 text-white bg-green-500 hover:bg-green-700 active:bg-green-400">
        Submit
    </button>
</form>
</html>
