<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/trouble.css">
</head>
<form class="form">
    <h2>Trouble</h2>
    <p type="Name:"><input placeholder="Write your name here.."></input>
    </p>
    <p type="Email:"><input placeholder="Let us know how to contact you back.."></input>
    </p>
    <p type="Message:"><input placeholder="What would you like to tell us.."></input>
    </p>
    <button>Send Message</button>
    <div>
        <span class="fa fa-phone"></span>+02 01200017280
        <span class="fa fa-envelope-o"></span> CORRECTA@gmail.com
    </div>
</form>

</html>